---
import Layout from "../layouts/Layout.astro";
import { BlogPostList } from "../components/BlogPostList";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const dataSciencePosts = allPosts.filter(
  (post: { data: { category: string } }) =>
    post.data.category === "data-science"
);
const sortedPosts = dataSciencePosts.sort(
  (a: { data: { date: string } }, b: { data: { date: string } }) =>
    new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout title="IT Blog - Data Science">
  <h1 class="text-4xl font-bold mb-8">Data Science</h1>
  <BlogPostList
    posts={sortedPosts.map((post) => ({
      url: `/${post.data.category}/${post.slug.split("/")[1]}`,
      frontmatter: {
        title: post.data.title,
        date: post.data.date,
        description: post.data.description,
        image: post.data.image,
      },
    }))}
  />
</Layout>
